 
 form {
     background-color: #fff;
     margin: 0.05rem;
 }
 // 按钮
 .btn-tools {
    display: flex;
    padding: 0.05rem;
    justify-content: space-between;
    background-color: #eee;
    border: 0;

    .btn-login {
        width: 49%;
    }

    .btn-register {
        width: 49%;
    }
}
// 验证码按钮
.text-code{
    position: relative;
    .btn-code{
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: 0.05rem;
        margin-top: 0.05rem;
        margin-right: 0.05rem;
    }
}